.Box {
  background: #fff;
  color: #333;
  position: fixed;
  right: 1%;
  padding: 16px;
  top: 5%;
  width: 250px;
  z-index:10000;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 80px;
  transition: max-height 0.5s linear
}

.Box-title{
  font-size: 18px;
  text-align: center;
}

.Box a {
  color: #333;
  text-decoration: none;
}
